<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <div class="header1">
        <div class="hleft">
            <img class="logo" src="img/logocus.png"/>
        </div>
        <div class="bar">
            <nav class="navigation">
              <div class="headermenu"> 
              <ul class="mainmenu"> 
                    <li><a href="index.php">Thực đơn</a></li>
                    <li><a href="">Khuyến mãi</a></li>
                    <li><a href="">Dịch vụ</a></li>
                    <li><a href="">Tin tức</a></li>
                    <li><a href="">Liên hệ</a></li>
                    <li><a href="">Về chúng tôi</a></li>
        
              </ul>
            </div>
        </nav>
        </div>
    </div>


      
</body>
</html>